@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
  body {
    @apply tracking-wide;
    @apply dark:text-[#E6E0C8];
    @apply text-[#362D32]
  }
  h1 {
    @apply font-bold
  }
  h2 {
    @apply font-semibold
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }
  h1 {
    @apply text-3xl sm:text-4xl
  }
  h3 {
    @apply font-medium
  }
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#E6E0C8, #E6E0C8);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .2s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 1px;
    background-position: 0 100%
}
 
}